# name: Get Haaland Transfer Data

# on:
#   push:
#   schedule:
#     - cron: '*/5 * * * *'

# jobs:
#   get-data:
#     runs-on: ubuntu-latest

#     permissions:
#       contents: write

#     steps:
#     - id: init-checkout
#       name: Initial Checkout
#       uses: actions/checkout@v3
#       with:
#         fetch-depth: 0

#     - id: checkout-repo
#       name: Checkout automation_testing repo
#       uses: actions/checkout@v3
#       with:
#         repository: timyouell-servian/automation_testing
#         ref: main
#         token: ${{ secrets.PAT }}
#         path: workflow
    
#     - id: setup_python
#       name: Setup Python
#       uses: actions/setup-python@v2
#       with:
#         python-version: 3.8

#     - id: install-packages
#       name: Install Python Dependencies
#       run: python -m pip install --upgrade -r ./requirements.txt

#     - id: run-get-data
#       name: Run data_collection.py
#       run: |
#         python ./data_collection.py
    
#     - id: push-to-repo
#       name: Push .csv back to GitHub
#       run: |
#         git config --global user.name github-actions
#         git config --global user.email github-actions@github.com
#         git pull origin main
#         git commit -am '.csv updated' --no-verify
#         git push origin main
